::view-transition-group(*) {
  animation-duration: 0.55s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.title-background {
  display: block;
  height: 100%;
  width: 100%;
  filter: blur(5px) contrast(1.15);
}

.extra-blur {
  filter: blur(25px) contrast(1.15);
}

.title-title {
  position: absolute;
  padding-right: 1ch;
  top: 0%;
  left: 50%;
  font-size: 10rem;
  font-weight: 800;
  text-align: end;
  color: transparent;

  background-image: linear-gradient(
    -45deg,
    rgba(195, 79, 79, 0.6),
    rgba(81, 35, 35, 0.01)
  );
  background-clip: text;
  text-shadow: 20px -2px 1px rgba(0, 0, 0, 0.9), 0px 2px 12px rgba(0, 0, 0, 0.4),
    0px 2px 12px rgba(116, 50, 50, 0.3);
}

.map-background {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  filter: grayscale(0.5);
}

#map-text {
  position: absolute;
  bottom: 0;
  padding: 1rem 10rem;
  background-image: linear-gradient(
    -55deg,
    rgba(195, 79, 79, 1),
    rgba(195, 79, 79, 0.9),
    rgba(81, 35, 35, 0.5)
  );
  border: 5px solid black;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: justify;
}

#map-cancel-icon,
#video-cancel-icon {
  position: absolute;
  top: 5%;
  left: 5%;
}

.menu-button {
  font-size: 3em;
  font-weight: 900;
  text-shadow: 2px 2px wheat;
  color: rgb(13, 13, 13);
  padding: 0.5em 2em;
  border: 10px ridge dimgray;
  border-radius: 10px;
  box-shadow: 0px 10px 15px black;
  outline: 4px solid black;
  transition: all 0.2s linear;
  &:hover {
    border-color: rgb(120, 87, 4);
    box-shadow: 60px -0px 50px 5px rgba(0, 0, 0, 0.6), -60px 0px 85px black;
  }
  background-image: url("/alt_red_swatch.png");
  filter: brightness() hue-rotate(-20deg);
}
/*TODO: prefers-reduced-motion*/
/*TODO: fix competing transforms*/
#title-buttons .menu-button {
  transform: translate(-2000px);
  animation: title-button-entry 0.7s 0.7s ease-out forwards;
  &:active {
    transform: translate(-10px) !important;
  }
}
@keyframes title-button-entry {
  100% {
    transform: translate(0px);
  }
}
#map-button {
  position: absolute;
  top: 40%;
  margin-left: 1em;
}
#new-race-button {
  position: absolute;
  top: 60%;
  margin-left: 1em;
}
#continue-race-button,
#youtube-button {
  position: absolute;
  top: 80%;
  margin-left: 1em;
}

#race-game {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cyo-camel {
  position: absolute;
  top: 0;
  font-size: 8rem;
  font-weight: 600;
}

.camel-card {
  padding: 3%;
  padding-top: 7%;
  width: 60%;
  border: 5px solid black;
  box-shadow: 15px 15px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(85, 107, 47, 0.6);
  background-image: radial-gradient(
    rgba(85, 107, 47, 0.01),
    rgb(139, 69, 19, 0.3)
  );
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  animation: card-flip 0.55s linear forwards;
}

@keyframes card-flip {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.camel-card img {
  aspect-ratio: 4/3;
  width: 80%;
  height: 100%;
  border: 15px 15px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 2px rgba(0, 0, 0, 0.5);
  outline: 10px solid rgb(139, 69, 19);
}
.camel-card .camel-name {
  font-size: 4rem;
  font-weight: 800;
}

.camel-choices {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & .menu-button {
    width: 50%;
    padding: 0;
    &:active {
      transform: translate(0px, 15px);
    }
  }
}

#interview-screen {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#interviewer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-self: center;
  padding: 0px 2rem;
  width: 80%;
  height: 80vh;
  background-image: radial-gradient(
    rgba(85, 107, 47, 0.01),
    rgb(139, 69, 19, 0.6)
  );
  gap: 5rem;
  border: 8px ridge saddlebrown;
  & p {
    width: 100%;
    font-size: 2rem;
    background-color: rgba(255, 228, 196, 0.5);
  }
  & .typewriter {
    width: 100%;
    font-size: 4rem;
    font-weight: 600;
  }
}

#interviewer-portrait {
  height: 80%;
  width: 80%;
  box-shadow: 15px solid black;
  outline: 10px solid black;
  border: 10px double rgb(139, 69, 19);
  border-radius: 3px;
}

#interview-button-group,
#trick-button-group {
  width: 80%;
  display: flex;
  justify-content: space-around;
  & .menu-button {
    font-size: 2rem;
    box-shadow: 10px 10px saddlebrown;
    &:active {
      transform: translate(0px, 10px);
    }
  }
}

/*MAP*/

[data-testid]:not(#map-cancel-icon) {
  color: black;
}

#point-1-flag {
  position: absolute;
  top: 40%;
  left: 45%;
}
#point-2-flag {
  position: absolute;
  top: 35%;
  left: 50%;
}
#point-3-flag {
  position: absolute;
  top: 30%;
  left: 55%;
}
#point-4-flag {
  position: absolute;
  top: 40%;
  left: 65%;
}
#point-5-flag {
  position: absolute;
  top: 40%;
  left: 75%;
}
#point-6-flag {
  position: absolute;
  top: 50%;
  left: 85%;
}

#youtube-iframe {
  border: 50px solid black;
  outline: 10px ridge saddlebrown;
}
